body {

	margin: 0px;

}



#bg {

	width: 100vw;

	height: 100vh;

}



#fg {

	background-color: white;

	width: 50%;

	height: 100vh;

	margin: 0 auto;

}

.warning {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: sans-serif;
	font-size: 1.6rem;
}